name: Env Vars
on: push
env:
  WF_ENV: Available to all jobs
  TEST_ENV: ${{ secrets.TEST_ENV}} # using encrypted secrets from settings

jobs:
  log-env:
    runs-on: ubuntu-latest
    env:
      JOB_ENV: Available to all steps in log-env job
    steps:
      - name: Log env Vars
        env:
          STEP_ENV: Available to only this step
        run: |
          echo "WF_ENV: ${WF_ENV}"
          echo "JOB_ENV: ${JOB_ENV}"
          echo "STEP_ENV: ${STEP_ENV}"

      - name: Log Env 2
        run: |
          echo "WF_ENV: ${WF_ENV}"
          echo "JOB_ENV: ${JOB_ENV}"
          echo "STEP_ENV: ${STEP_ENV}"

  log-default-env:
    runs-on: ubuntu-latest
    steps:
      - name: DEFAULT ENV Vars
        run: |
          echo "HOME: ${HOME}"
          echo "GITHUB_WORKFLOW: ${GITHUB_WORKFLOW}"
          echo "GITHUB_ACTION: ${GITHUB_ACTION}"
          echo "GITHUB_ACTIONS: ${GITHUB_ACTIONS}"
          echo "GITHUB_ACTOR: ${GITHUB_ACTOR}"
          echo "GITHUB_REPOSITORY: ${GITHUB_REPOSITORY}"
          echo "GITHUB_EVENT_NAME: ${GITHUB_EVENT_NAME}"
          echo "GITHUB_WORKSPACE: ${GITHUB_WORKSPACE}"
          echo "GITHUB_SHA: ${GITHUB_SHA}"
          echo "GITHUB_REF: ${GITHUB_REF}"
          echo "WF_ENV: ${WF_ENV}"
          echo "JOB_ENV: ${JOB_ENV}"
          echo "STEP_ENV: ${STEP_ENV}"
  
  # can use github actions in real life instead of writing these low level code. This could be useful for scenrios such as building files and pushing to heroku 
  create-issue:
    runs-on: ubuntu-latest
    steps:
      - name: push random file
        run: |
          pwd
          ls -a
          git init
          git remote add origin "https://$GITHUB_ACTOR:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY.git"
          git config --global user.email "weiklr-bot@bot.com"
          git config --global user.name "weiklr-bot"
          git fetch
          git checkout main
          git branch --set-upstream-to=origin/main
          git pull
          ls -a
          echo $RANDOM >> random.txt
          ls -a
          git add -A
          git commit -m "random file"
          git push
  decrypt:
      runs-on: ubuntu-latest
      steps:
          - uses: actions/checkout@v1
          # - name: Configure GPG Key
          #   run: |
          #       mkdir -p ~/.gnupg/
          #       printf "$GPG_SIGNING_KEY" | base64 --decode > ~/.gnupg/private.key
          #       gpg --batch --import ~/.gnupg/private.key
          #   env:
          #     GPG_SIGNING_KEY: ${{ secrets.GPG_SIGNING_KEY }} 
          - name: decrypt file
            env: 
              GPG_SECRET_KEY: ${{ secrets.GPG_SECRET_KEY }}
              PASSPHRASE: ${{ secrets.PASSPHRASE }}
            run: echo "$PASSPHRASE" | gpg --quiet --batch --yes --decrypt --passphrase-fd 0 --output $HOME/secrets.json secrets.json.gpg
          - name: print file content
            run: cat $HOME/secrets.json

