name: Shell Commands

on: [push]

jobs:
  run-shell-command:
    runs-on: ubuntu-latest
    steps:
      - name: echo a string
        run: echo "hello world"
      - name: multiline script
        run: | # run multiple commands with | yaml syntax
          node -v
          npm -v
      - name: python command
        run : |
              import platform
              print(platform.processor())
        shell: python

  run-windows-command:
    runs-on: windows-latest
    needs: ["run-shell-command"]
    steps:
      - name: powershell
        run: Get-Location
      - name: Directory Bash
        run: pwd
        shell : bash